.container
{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;

    padding-top: 108px;
}

.progress
{
    font-weight: bold;
    font-size: 32px;
    color: blue;
}

.image
{
    width: 256px;
    height: 256px;
}